<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Login Managment system</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/chosen.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    @*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
    <script src="~/Scripts/jquery.min.js"></script>
    
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Login System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            @if (Session["Name"] != null)
            {
                <button type="button" id="btnLogout" name="btnLogout" class="pull-right btn btn-primary">
                    <span class="glyphicon glyphicon-log-out"> Logout</span>
                </button>
                <h4 class="pull-right">  @Session["Name"]!.. </h4>
            }
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content ">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Login Managment System</p>
        </footer>
    </div>

    
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/Logout.js"></script>
</body>
</html>